* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F1F1F1;
  display: flex;

  @media (prefers-color-scheme: dark) {
    background-color: #151515;
    color: #ffffff;
  }
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #F6F6F6;

  @media (prefers-color-scheme: dark) {
    background-color: #121212;
  }
}

.header-container {
  width: 20em;
  height: 100vh;
  display: flex;
  background-color: #F1F1F1;

  @media (prefers-color-scheme: dark) {
    background-color: #131313;
  }
}

.header-container > * {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
