* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  display: flex;
}

header {
  height: 100vh;
  width: 335px;
  background-color: white;
  border-right: 1px solid rgba(1, 1, 1, 0.05);
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.025);
}

picture {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 12px;
}

picture .logo {
  height: fit-content;
  width: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #ffffff;
  }

  header {
    background-color: black;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  }
}
