@import 'styles/variables';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.headquarters {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;

  @media (min-width: $tabletBreakpoint) {
    width: 80%;
  }
}

.mobileHeader {
  width: 100vw;
  height: 8em;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  @media (min-width: $tabletBreakpoint) {
    display: none;
  }
}
