@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
  *::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

