backend/app/data/
backend/app/*.log
backend/app/*.db
backend/app/__pycache__/
.git
*.yml
backend/venv/
.gitignore
.dockerignore
backend/*.db
backend/*.md
backend/Dockerfile
frontend/node_modules