backend/data_layer/data/
backend/data_layer/*.log
backend/data_layer/__pycache__/
backend/app/scraper_cron
.git
*.yml
backend/venv/
.gitignore
.dockerignore
backend/*.db
backend/*.md
backend/Dockerfile
mc-frontend/node_modules
mc-frontend/.next
mc-frontend/.gitignore
mc-frontend/.eslintrc.json
mc-frontend/README.md
mc-frontend/package-lock.json
.env
*/__pycache__/
scrapers/.env
scrapers/node_modules
scrapers/supabase