beautifulsoup4==4.9.1
requests==2.28.1
selenium==3.141.0
lxml==4.6.2
tweepy==3.10.0
facebook-sdk==3.1.0
pytz==2021.1
sqlalchemy==1.4.27
fastapi==0.75.1
uvicorn==0.18.2
databases==0.6.0
# databases[asyncpg]
asyncpg==0.26.0
result==0.8.0
psycopg2==2.9.3
black==22.6.0