.article {
  height: fit-content;
  background-color: transparent;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  box-shadow:
    2px 2px 8px rgba(0, 0, 0, 0.1),
    -2px -2px 8px rgba(255, 255, 255, 0.2);

  @media (prefers-color-scheme: dark) {
    background-color: #151515;
    box-shadow:
      2px 2px 8px rgba(0, 0, 0, 0.1),
      -2px -2px 8px rgba(255, 255, 255, 0.2);
  }
}

.publisherImageContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.publisherImage {
  height: 12em;
  width: inherit;
  object-fit: cover;
  border-radius: 8px;
}

.imageAndPublisher {
  height: 50%;
}

.publisher {
  margin-top: 0.75em;
}

.headline {
  line-height: 1.75em;
  font-size: 1.2em;
}

.articleLink {
  height: fit-content;
  border-radius: 32px;
  display: none;
  opacity: 0;

  &:hover {
    transform: scale(1.02);
  }
}
