.article {
  height: 24em;
  background-color: gray;
  padding: 2em;
}

.publisherImageContainer {
  height: 60%;
  width: 100%;
}

.publisherImage {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
