beautifulsoup4==4.9.1
requests==2.28.1
selenium==3.141.0
lxml==4.6.2
tweepy==3.10.0
facebook-sdk==3.1.0
pytz==2021.1
sqlalchemy==1.4.27
fastapi==0.75.1
uvicorn[standard]==0.18.2
databases[asyncpg]==0.6.0
result==0.7.0
psycopg2==2.9.3
black==22.6.0
pre-commit==2.19.0
pyjwt[crypto]==2.4.0
mypy==0.971
python-dateutil==2.8.2