@import '../../styles/variables';

.sidebar {
  width: 0%;
  height: 100%;
  overflow-y: hidden;
  justify-content: space-between;
  padding: 1em;
  display: none;
  flex-direction: column;
  gap: 2em;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);

  @media (prefers-color-scheme: dark) {
    box-shadow: 5px 0px 10px rgba(255, 255, 255, 0.05);
  }

  @media (min-width: $tabletBreakpoint) {
    width: 40%;
    display: flex;
  }

  @media (min-width: $largeTabletBreakpoint) {
    width: 30%;
    display: flex;
  }

  @media (min-width: $laptopBreakpoint) {
    width: 20%;
    display: flex;
  }
}

.logoAndPublisherContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.publisherContainer {
  display: none;
  height: fit-content;
  gap: 1.5em;
  padding: 1em 1em 2em 1em;

  @media (min-width: $tabletBreakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.publisher {
  border: 1px solid black;
  border-radius: 4px;
  height: 3em;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: violet;
    background-color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
  }
}

.selectedPublisher {
  width: 105%;
  box-shadow:
    inset -5px -5px 20px rgba(45, 216, 255, 0.15),
    inset 5px 5px 20px rgba(45, 216, 255, 0.15);

  @media (prefers-color-scheme: dark) {
    box-shadow:
      inset -5px -5px 20px rgba(255, 255, 255, 0.2),
      inset 5px 5px 20px rgba(255, 255, 255, 0.2);
  }

  & > .publisherName {
    transform: scale3d(1.15, 1.15, 1.15);
  }
}

.date {
  margin-top: -1em;
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;

  @media (min-width: $largeTabletBreakpoint) {
    margin-left: 2em;
  }
}

.newsletterSignup {
  height: fit-content;
  padding: 0.75em;
  margin: 1em 0em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 32px;
  background-color: navy;
  cursor: pointer;
  color: white;
}

.publisherName {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
