@import '../../styles/variables';

.sidePanel {
  width: 0%;
  height: 100%;
  overflow-y: hidden;
  padding: 1em;
  display: none;
  flex-direction: column;
  gap: 2em;

  @media (min-width: $tabletBreakpoint) {
    width: 40%;
    display: flex;
  }

  @media (min-width: $largeTabletBreakpoint) {
    width: 30%;
    display: flex;
  }

  @media (min-width: $laptopBreakpoint) {
    width: 20%;
    display: flex;
  }
}

.publisherContainer {
  display: none;
  height: fit-content;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-top: 1px solid black;
  border-right: 1px solid black;

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
  }

  @media (min-width: $tabletBreakpoint) {
    display: flex;
  }
}

.publisher {
  border: 1px solid white;
  padding: 0.75em;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}

.date {
  margin-top: -1em;
  margin-left: 2em;
  text-align: center;
  font-style: italic;
}
