.modal {
  background-color: inherit;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 2em;
  margin-top: 1em;
  overflow: visible;
}

.submit {
  background-color: rgba(101, 126, 212, 0.95);

  &:hover {
    background-color: rgba(101, 126, 212, 1);
  }
}
