.header {
  width: 100vw;
  height: 8em;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;

  @media (prefers-color-scheme: dark) {
    background-color: #131313;
  }
}

.logoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;

  @media (prefers-color-scheme: dark) {
    background-color: #121212;
  }
}

.publishersContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1.5em;
  padding: 2em;
  visibility: hidden;

  @media (min-width: 641px) {
    visibility: visible;
  }
}

.publisher {
  padding: 0.75em;
  text-align: center;
  font-size: larger;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  word-wrap: break-word;

  &:hover {
    // transform: scale(0.98);
    // transform: translate3d(0px, 1px, 0);

    // border: 2px solid white;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
  }
}
