<!-- THIS BLOCK POPULATES THE HOMEPAGE WITH STORIES -->
{% extends "news/news_home.html" %}
{% block layout_stories %}
    {% for story in stories %}

        <div class="col-md-4">
            <article class="entry">
                <div class="entry-image mb-3" style="height = 25px">
                    <a href="{{ story.link }}" target="_blank">
                        <div><img src="{{ story.image }}" alt="{{ story.headline }}" style="height: 200px; width: 325px overflow: hidden; object-fit: cover;"></div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <div class="entry-categories">
                        <a id="published_by" href="">&copy;
                            {{ story.publisher }}
                        </a>
                    </div>
                    <h3><a href="{{ story.link }}" class="color-underline stretched-link" target="_blank">{{ story.headline }}</a></h3>
                </div>
                <strong id="time_since_posted">{{ story.time_since_posted }}</strong>
                <div class="entry-meta">
                    <ul>
                        <li>{{ story.date_published }}</li>
                    </ul>
                </div>
            </article>
        </div>

    {% endfor %}
{% endblock layout_stories %}
