<!-- THIS FILE CONTAINS THE STICKY MENU AND SORT BUTTONS FOR THE ARTICLE SECTION -->
{% extends "news/base.html" %}
{% block content %}

<!-- Single Page Categories
============================================= -->
<div class="row gutter-50">
    <div class="col-lg-3 cat-widgets position-sticky h-100" style="top: 234px; opacity: 1;" id="publisher-menu">

        <div class="widget widget-nav mt-md-5">
            <ul class="nav">
                <li class="nav-item active" id="all-nav">
                    <a class="nav-link" href="#">All Local Articles</a>
                </li>
		<!-- <li class="nav-item" id="cha-guide-nav"> -->
                <!--     <a class="nav-link" href="#">CHA Guide</a> -->
                <!-- </li> -->
                <li class="nav-item" id="chattanoogan-nav">
                    <a class="nav-link" href="#">Chattanoogan</a>
                </li>
		<li class="nav-item" id="chronicle-nav">
                    <a class="nav-link" href="#">Chattanooga News Chronicle</a>
                </li>
                <li class="nav-item" id="pulse-nav">
                    <a class="nav-link" href="#">Chattanooga Pulse</a>
                </li>
                <li class="nav-item" id="tfp-nav">
                    <a class="nav-link" href="#">Chattanooga Times Free Press</a>
                </li>
		<li class="nav-item" id="fox-chattanooga-nav">
                    <a class="nav-link" href="#">Fox Chattanooga</a>
                </li>
                <li class="nav-item" id="nooga-today-nav">
                    <a class="nav-link" href="#">Nooga Today</a>
                </li>
                <li class="nav-item" id="wdef-nav">
                    <a class="nav-link" href="#">WDEF News 12</a>
                </li>
		<li class="nav-item" id="wrcb-nav">
                    <a class="nav-link" href="#">WRCB</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-lg-9 mt-5 mt-lg-0" >
        <div class="d-flex">
            <div class="flex-grow-1">
                <h3 id="post-identifier" style="opacity: 1;">All Local Articles</h3>
            </div>
            <!--<div class="col-lg-3 col-md-4" style="flex-direction: column; align-items: flex-end;">
                <input class="flatpickr flatpickr-input" type="text" placeholder="View News By Date" readonly="readonly">
            </div> -->
        </div>
	<div id="found-articles" style="opacity: 1;">
          <div class="row col-mb-50 posts-md">
            {% block layout_stories %} {% endblock %}
          </div>
	</div>
    </div>
</div>
<!-- Single Page Categories End -->

{% endblock content %}
